.selectedOptionsContainer {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.selectedOptionsContainer::-webkit-scrollbar {
    display: none;
}

.filter-enter {
    overflow: hidden;
    max-height: 0px;
    transition: max-height 500ms ease;
}

.filter-enter-active {
    max-height : 100%;
}

.filter-exit {
    max-height: 100%;
    transition: max-height 500ms ease;
}

.filter-exit-active {
    overflow: hidden;
    max-height: 0px;
}